# cache dari hasil running python
__pycache__/
.pytest_cache/

# hasil dari installasi
*.egg-info

# hasil dari build pip
build/
build

# ignore dari website
.next/
.next
node_modules/
node_modules
*.ts
next-*
next-env.d.ts

# hasil dari format ruff
.ruff_cache

# hasil cache dari mypy
.mypy_cache

# cache dari dist
dist
