@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-all duration-200;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-800 dark:text-zinc-200;
    }

    p {
        @apply text-zinc-500 dark:text-zinc-400;
    }

    pre[data-theme*=" "] {
        @apply bg-[var(--shiki-light-bg)];
    }

    code[data-theme*=" "],
    code[data-theme*=" "] span {
        @apply bg-[var(--shiki-light-bg)] text-[var(--shiki-light)];
    }

    html.dark code[data-theme*=" "],
    html.dark code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }

    html.dark pre[data-theme*=" "] {
        background-color: var(--shiki-dark-bg);
    }

    [data-line-numbers] {
        counter-reset: line;
    }

    [data-line-numbers] > [data-line]::before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        width: 1rem;
        margin-right: 1rem;
        text-align: right;
        color: gray;
    }

    code[data-line-numbers-max-digits="2"] > [data-line]::before {
        width: 2rem;
    }

    code[data-line-numbers-max-digits="3"] > [data-line]::before {
        width: 3rem;
    }
}
