name: openseries testing

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: checkout kode
        uses: actions/checkout@v4

      - name: setting python
        uses: actions/setup-python@v4

      - name: install requirement
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r dev-requirements.txt

      - name: cek kode dengan flake8
        run: |
          flake8 . --max-line-length=100 --exclude=example

      - name: testing kode dengan pytest
        run: |
          pytest testing/main_test.py --verbose
